<!DOCTYPE html>
<html>
  <head>
    <title>Create HTML5 Canvas JavaScript Drawing App Example</title>
  </head>
  <body>
    <form enctype="multipart/form-data" action="/" method="post">'
     <div id="canvasDiv"></div>
     <input type="submit" value="upload" />
   </form>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="static/html5-canvas-drawing-app.js"></script>
    <script type="text/javascript">
    	 drawingApp.init();
	</script>

  </body>
</html>